﻿@section Scripts {
	@Scripts.Render("~/Scripts/Skripta.js")
}

<div id="pocetniHeader" style="display:block">
	<label>Korisnik nije prijavljen na sistem</label><input type="button" style="margin-left:80px" class="btn btn-default" id="priIReg" value="Registracija i Prijava"/>
</div>
<div id="priRegHeader" style="display:none">
	<label>Registracija i prijava korisnika</label><input type="button" style="margin-left:80px" class="btn btn-default" id="pocetak" value="Pocetak">
</div>
<div class="row">
	@* div forme za PRIJAVU i registraciju - div ima svoj id i forma ima svoj id *@
	<div class="col-sm-4" style="display:none" id="priDiv">
		<form method="post" action="post/" id="registracija">
			<div class="form-group">
				<label>Korisnicko ime</label>
				<input class="form-control" type="text" id="priIme" />
			</div>
			<div class="form-group">
				<label>Lozinka</label>
				<input class="form-control" type="password" id="priLoz" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default alert-info">Registracija</button><input type="button" id="btnPrijava" class="btn btn-default" value="Prijava" />
			</div>
		</form>
	</div>
</div>
<br />
@* div za ispis poruke da je korisnik uspesno registrovan *@
<div class="row">
	<p id="info"></p>
</div>
@* div HEADER u kome je info prijavljenog korisnika sa dugmetom za odjavu i PRETRAGA *@
<div style="display:none" id="header">
	<label id="priTekst">Prijavljeni korisnik:</label><label id="priInfo"></label><button class="btn btn-default" id="odjavise" style="margin-left:80px">Odjava</button>
	<h4>Pretraga po broju utakmica</h4>
	<div class="form-inline">
		<div class="form-group">
			<label style="margin-right:20px">Najmanje: </label><input id="najmanje" type="number" class="form-inline" />
		</div>
		<div class="form-group">
			<label style="margin-right:20px; margin-left:20px">Najvise: </label><input id="najvise" type="number" class="form-inline" />
		</div>
		<div class="form-group">
			<button id="btnFilter" class="btn btn-default btn-md" style="margin-left:30px">Pretraga</button>
		</div>
	</div>
</div>
@* div DATA u kome se iscrtava tabela sa podacima dobijenim sa servera *@
<div id="data"></div>
@* div FORME koji ima svoj id. Sama forma ima svoj ID. forma se nalazi u divu jer uz formu pored submit dugmeta ide i dugme za odustajanje *@
<div id="formKosarkas" style="display:none">
	<form method="post" action="post/" id="kosarkasForm" class="form-horizontal">
		<h3>Izmena kosarkasa</h3>
		<div class="form-group">
			<label class="control-label col-sm-2">Ime i prezime: </label>
			<div class="col-sm-10">
				<input id="Name" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Godina rodjenja:</label>
			<div class="col-sm-10">
				<input id="BirthYear" type="number" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Klub:</label>
			<div class="col-sm-10">
				<select id="KlubId" class="form-control"></select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Broj utakmica:</label>
			<div class="col-sm-10">
				<input id="GamesNumber" type="number" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Prosecno poena: </label>
			<div class="col-sm-10">
				<input id="PointsAverage" type="number" step=".01" class="form-control" />
			</div>
		</div>
		<br />
		<div class="form-group">
			<button class="btn btn-default btn-md" style="margin-right: 80px">Izmena</button>
			<input type="button" class="btn btn-default btn-md btn-info" id="odustani" value="Odustajanje" />
		</div>
	</form>
</div>